# Python
__pycache__/
*.py[cod]
*.pyc
.env
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Projektdaten (grosse Dateien – nicht auf Git)
data/raw/
data/vector/
data/processed/

# MacOS
.DS_Store

# IDE
.vscode/
.idea/
